<!DOCTYPE html>
<html ng-app="journal">
  <head>
    <meta charset="utf-8">
    <title>No Server</title>

    <link rel="stylesheet" href="./materialize/css/materialize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
    <link rel="stylesheet" href="./main.css">
  </head>
  <body ng-controller="mainCtrl">
  <h1 id="Quick">Quick Directions</h1>

  <label>FROM:
  <input type="text" placeholder="Enter Current Location Here" ng-model="frominput"></input>
</label>
<br>
<label>TO:
<input type="text" placeholder="Enter Destination Here" ng-model="toinput"></input>
</label>


<button class="waves-effect waves-light btn" ng-click="directionApi(frominput, toinput)">DRIVE</button>

<button class="waves-effect waves-light btn" ng-click="directionReverseApi(toinput,frominput)">DRIVE BACK</button>

<div ng-repeat="step in steps">
{{step.html_instructions}}
</div>


  <!-- <script src="http://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
    <!-- <script src="./js/script.js"></script> -->
    <!-- <script src="./materialize/js/materialize.js"></script> -->
    <script src="./js/app.js"></script>

    <script src="./js/controllers/mainCtrl.js"></script>
    <script src="./location/locationCtrl.js"></script>
    <script src="./price/priceCtrl.js"></script>
    <script src="./about/aboutCtrl.js"></script>
    <script src="./js/services/mainService.js"></script>

  </body>
</html>
