

body{
 background-image: url("https://hd.unsplash.com/photo-1453733190371-0a9bedd82893");
 background-size:cover;
 background-repeat: no-repeat;
}


.start{
  text-align:center;
  margin-top:322px;
  font-size: 50px;
  font-family:Verdana;
  color:white;
  font-weight: bold;


}


.line {
  text-align:center;
  margin-top:10px;
  font-size: 20px;
  font-family:Verdana;
  color:white;


}

.line2 {
  text-align:center;
  margin-top:50px;
  font-size: 13px;
  font-family:Verdana;
  color:white;
  font-style: italic;


}

.line3 {
  text-align:center;
  margin-top:5px;
  font-size: 13px;
  font-family:Verdana;
  color:white;
  font-style:italic;


}

.logo {
  float:left;
  margin-left: 70px;
  margin-bottom: 100px;
  padding-bottom: 80px;

}

.button {
  float:right;
  margin-right: 70px;
  margin-bottom: 100px;
  padding-bottom: 80px;
}
