@import url('https://fonts.googleapis.com/css?family=Roboto:100');

@font-face {
    font-family: 'Proxima-Nova';
    src: url('./fonts/proximanova-light-webfont.woff') format('woff');
}

.body-wrapper {
  margin-top: 90px;
}

div {
  display:block;
}

nav {
  display:block;
}

#fixtop {
  position: fixed;
  top:0px;
}

.topbar {
  left: 0;
  right: 0;
  padding: 0px 15px;
  background-color: white;
  z-index: 4;
  height: 45px;
  border-bottom: 1px solid #e5e5e5;
}

.topbar #logo {
  height: 45px;
  width: 102px;
  display: inline-block;
  background: url('./jane-logo_360.png') no-repeat left;
  background-size: 102px 20px;
  position: absolute;
  left:0;
  right: 0;
  top:0;
  margin: 0 auto;
}

.content {
  margin-left:10vw;
}


#hamburger {
  height:46px;
  width: 50px;
  margin-right: 5px;
}

.textvalignmiddle {
  line-height: normal;
}

#tag {
font-family: 'Proxima-Nova', sans-serif;
font-size: 16px;
font-weight: bolder;
margin-bottom: 39px;
line-height: 1em;
vertical-align: middle;
display: inline-block;
}

input {
  background-color: springgreen;
  position:absolute;
  margin-top: 13px;
  margin-left: 10px;
  border-radius: 50px;
  height: 20px;

}

.fr {
  float:right;
  margin-top: -70px;
}

.icon-wrapper {
display: inline-block;
position: relative;
overflow: visible;
cursor: pointer;

}

.icon-wrapper i {
line-height: 45px;
color: #333;
}

a {
  text-decoration: none;
  color: #36c6b1;
}

.icon-wrapper .icon-title {
  font-family: 'Proxima-Nova', sans-serif;
  color: #333;
  position: relative;


}

#right {
  margin-right: 10vw;
}

#baglogo {
  margin-right: 20px;
}

#favlogo {
  margin-right: 20px;
}

.favorites {
  /*margin-right: 15px;*/
}
@media screen and (max-width: 800px) {
  .content {
    margin-left:0px;
  }

  input {
    display: none;
  }

}
