.body-wrapper {
  margin-top: 90px;
}

div {
  display:block;
}

nav {
  display:block;
}

#fixtop {
  position: fixed;
  top:0px;
}

.topbar {
  left: 0;
  right: 0;
  padding: 0px 15px;
  background-color: white;
  z-index: 4;
  height: 45px;
  border-bottom: 1px solid #e5e5e5;
}

.topbar #logo {
  height: 45px;
  width: 102px;
  display: inline-block;
  background: url('./jane-logo_360.png') no-repeat left;
  background-size: 102px 20px;
  position: absolute;
  left:0;
  right: 0;
  top:0;
  margin: 0 auto;
}

.content {
  margin-left:10vw;
}


#hamburger {
  height:46px;
  width: 50px;
  margin-right: 5px;
}


@media screen and (max-width: 800px) {
  .content {
    margin-left:0px;
  }
}
