
@font-face {
    font-family: 'Proxima-Nova';
    src: url('./fonts/proximanova-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Azo Sans thin';
  src: url('./fonts/azosans-thin-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Azo Sans';
  src: url('./fonts/azosans-regular-webfont.woff') format('woff');
}
html {
  box-sizing: border-box;
  font: 200 16px/24px 'Azo Sans', sans-serif, serif;
  color: #666;
  background: #F3F3F3;
}

i.fa.fa-angle-down {
  display: none;
}

.body-wrapper {
  margin-top: 90px;
}

div {
  display:block;
}

nav {
  display:block;
}

#fixtop {
  position: fixed;
  top:0px;
}

.topbar {
  left: 0;
  right: 0;
  padding: 0px 15px;
  background-color: white;
  z-index: 4;
  height: 45px;
  border-bottom: 1px solid #e5e5e5;

}

.topbar #logo {
  height: 45px;
  width: 102px;
  display: inline-block;
  background: url('./jane-logo_360.png') no-repeat left;
  background-size: 102px 20px;
  position: absolute;
  left:0;
  right: 0;
  top:0;
  margin: 0 auto;
}

.content {
  margin-left:10vw;
  /*background-color: white;*/
}


#hamburger {
  height:46px;
  width: 50px;
  margin-right: 5px;
  cursor: pointer;
}

.textvalignmiddle {
  line-height: normal;
}

#tag {
font-family: 'Proxima-Nova', sans-serif;
font-size: 16px;
font-weight: bolder;
margin-bottom: 39px;
line-height: 1em;
vertical-align: middle;
display: inline-block;
}

input {
  background-color: springgreen;
  position:absolute;
  margin-top: 13px;
  margin-left: 10px;
  border-radius: 50px;
  height: 20px;

}

.fr {
  float:right;
  margin-top: -70px;
}

.icon-wrapper {
display: inline-block;
position: relative;
overflow: visible;
cursor: pointer;

}

.icon-wrapper i {
line-height: 45px;
color: #333;
}

a {
  text-decoration: none;
  color: #36c6b1;
}

.icon-wrapper .icon-title {
  font-family: 'Proxima-Nova', sans-serif;
  color: #333;
  position: relative;


}



#shopby {
  display: none;
}
/*.dropdown {
  display: none;
}*/

#right {
  margin-right: 10vw;
}

#baglogo {
  margin-right: 20px;
}

#favlogo {
  margin-right: 20px;
}

#category-bar {
  position: fixed;
  top:45px;
  left:0;
  right:0;
  background-color: white;
  height:45px;
  line-height: 45px;
  z-index: 3;
  color: #999;
  user-select: none;
  padding:0 15px;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  -webkit-transform:translate3d(0,0,0);
  -moz-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
  -webkit-transition:-webkit-transform .7s;
  -moz-transition: -moz-transform .7s;
  -o-transition:transform .7s;
  transition: transform .7s;

}

#category-bar.scrolled {
  -webkit-transform: translate3d(0,-45px,0);
  -moz-transform: translate3d(0,-45px,0);
  transform: translate3d(0,-45px,0);

}


#category-bar .j-horizontal-list {
  background-color: white;
  height: 45px;
  text-align: center;
  overflow: hidden;
  max-width: 1330px;
  margin:0 auto;
  font-size: 14px;
  /*z-index: -90;*/
}

#category-bar .list-wrapper {
width: 1377px;
/*z-index: -90;*/

}

#category-bar .list-wrapper .list-item {
  display:inline;
  color:#333;
  font:200 14px 'Proxima-Nova', sans-serif;
  margin-right: 10px;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 15px 0px;
  letter-spacing: .6px;
}

#landing-page .centerbanner {
  padding-top: 10px;
  overflow: hidden;
  margin: 0 auto 5px;
  max-width: 295px;
}

#landing-page .centerbanner .firstbanner:first-child {
  display: inline-block;
}

#landing-page .centerbanner .firstbanner, #landing-page .centerbanner .secondbanner {
  max-width: 295px;
}

#landing-page .centerbanner .firstbanner {
  float: left;
  box-sizing: border-box;
  display: none;
  width: 100%;
  height: 92px;
  overflow:hidden;
}


#landing-page .centerbanner img {
  max-width: 100%;
  border: none;
}

.alldeals {
  margin: 0 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  /*justify-content: flex-start;*/
  justify-content: center;

}

.seemore {
  height:37px;
  width:108px;
  display:inline-block;
  background-color: #7cd8cb;
  border-radius: 3px;
  color: white;
  text-align: center;
  padding-top:11px;
  padding-right:15px;
  padding-bottom: 0px;
  padding-left:15px;
  position: absolute;
  left:0;
  right:0;

  margin: 30px auto;
}

.seemore:hover {
  color: #36c6b1;
  cursor: pointer;
}

.end {
  height: 215px;
  background-color: white;
  z-index: 0;
  font-family: 'Proxima-Nova', sans-serif;
  text-transform: uppercase;
  margin-top: 130px;
  border-bottom: 1px solid #e5e5e5;
}

.leftfooter {
  width: 100%;
  box-sizing: border-box;
  padding:20px 10px;
  float: left;
  margin-bottom: 4px;
}

table {
  display:table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color:grey;
  width: 100%;
  margin-bottom: 5px;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
}

tr {
  display:table-row;
}

td, th {
  display: table-cell;
}

.leftfooter table td {
width: 33%;
padding:0 !important;
text-align: center;
}

.end .leftfooter table td ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 11px;
}

.centerthis {
  background-color: white;
  /*background: url('./img/deals/34508.jpg') no-repeat center center fixed;*/

  height: 55vh;
  overflow: hidden;
  max-width: 1330px;
  margin:0 auto;

}

.leftthumbnail {
  position: absolute;
  left:20;
  padding: 50px;
}

.lefttext {

    /*background-color: springgreen;*/
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    width: 660px;
    height:100px;
    position:absolute;
    bottom: 0;
    margin-bottom: 380px;
    margin-left: 50px;
    /*margin-top:192px;*/
    
}

.discount {
  display:flex;
  justify-content: space-around;
}

.discount span {
  font-family: 'Proxima-Nova',sans-serif;
  color:#333;
  font-size: 18px;
  font-weight: 300;
  padding-top: 20px;
}

.discountinfo {
  display: flex;
  justify-content: space-around;

}

.discountinfo span{
  font-family: 'Proxima-Nova',sans-serif;
  font-size: 10px;
  font-weight: 200;
  padding-top: 20px;
  color: #999;

}

@media (max-width: 800px) {
  .content {
    margin-left:0px;
  }

@media (max-width: 880px) {
  #heart {
    margin-right: 15px;
  }

  #favlogo {
    display: none;
  }

  #baglogo {
    display: none;
  }

  #right {
    display: none;
  }
}

  input {
    display: none;
  }

}

@media (max-width: 1184px) {
  #category-bar .list-wrapper #sneak {
    display: none;
  }

  #category-bar .list-wrapper #popular {
    margin-right: 226px;
  }
}

@media (max-width: 1084px) {
  #category-bar .list-wrapper #sneak {
    display: none;
  }

  #category-bar .list-wrapper #popular {
    margin-right: 342px;
  }
}


@media (min-width: 1017px) {
  #category-bar .list-wrapper .list-item {
    margin-right: 15px;
    font-size: 16px;
    /*z-index: -90;*/
  }

}

@media (min-width: 1005px) {
  #landing-page .centerbanner {
    min-width: 975px;
  }
  #landing-page .centerbanner .secondbanner {
    max-width: 620px;
  }
  #landing-page .centerbanner .secondbanner img {
    max-width: 100%;
  }
}

@media (max-width: 950px) {
  #category-bar .list-wrapper .list-item {
    display: none;
  }

  #shopby {
    display: flex;
    justify-content: flex-start;
    font-family: 'Azo Sans thin', sans-serif;
    font-size: 13px;
    font-weight: 200;
    color: #999;
  }

  i.fa.fa-angle-down {
    display:block;
  }

}

@media (min-width: 870px) {
  #category-bar .list-wrapper #sneak {
    margin-right: 134px;
  }

}

@media (min-width: 680px) {
  #landing-page .centerbanner {
    max-width: 650px;
    padding-top: 30px;
    margin:0 auto 30px;
  }

  #landing-page .centerbanner .firstbanner:first-child {
    margin:0px 15px;
  }

  #landing-page .centerbanner .secondbanner {
    display: inline-block;
    margin: 0px 15px;

  }

  #landing-page .centerbanner .secondbanner img {
    max-width: none;
  }
}

@media (min-width: 680px) {
  .leftfooter {
    width: 580px;
  }
}

.leftfooter {
  width: 100%;
}

/*all deals responsive*/
@media (min-width: 680px) {
  .alldeals {
    /*width: 650px;*/
    min-width: 975px;
    margin: 0 auto;
  }
}
/*all deals responsive*/

@media (max-width: 680px) {
  #landing-page .centerbanner .secondbanner {
    display: none;
  }
}

@media (min-width: 680px) {
  .leftfooter {
    width:580px;
    border-bottom: none;
    padding-right: 0;
  }
}

@media (min-width: 680px) {
  .leftfooter table td {
    width: 33%;
    padding:0px 60px 0px 0px;
    text-align: left;
    vertical-align: top;
  }
}
